body
{
    background-size:cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    color:darkviolet;
    
}
.note
{
    font-size: 17px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkviolet;
}
.div_speed
{
    float: left;
}
.div_speed_img
{
    width: 200px;
    border-radius: 100px;
}
#speed
{
    font-size: 23px;
    margin: 15px;
}
.div_volume
{
    float: right;
}
.div_volume_img
{
    width: 200px;
    border-radius: 100px;
}
#volume
{
    font-size: 23px;
    margin: 15px;
}

